---
BasedOnStyle: WebKit
IndentWidth: 2
SortIncludes: false
BreakBeforeBraces: Attach
SpaceInEmptyBlock: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
AllowShortLambdasOnASingleLine: false
AllowShortBlocksOnASingleLine: false
IncludeBlocks: Preserve
AccessModifierOffset: -2
ColumnLimit: 100
FixNamespaceComments: false
...
